/* hide scrollbar */
.more-dropdown::-webkit-scrollbar {
  display: none;
}

.more-dropdown {
  top: 2.8rem;
  left: 17.5rem;
  color: #efeff1;
  margin: 0;
  padding: 0.5rem 1rem;
  height: 40rem;
  overflow: auto;
  font-size: 0.9rem;
  z-index: 10000;
  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.more-dropdown__header {
  margin: 0;
  padding: 0;
  color: #a1a1ab;
  font-weight: 700;
  height: 2rem;
  display: flex;
  align-items: center;
}

.more-dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.more-dropdown__general {
  border-bottom: 1px solid #313134;
  padding-bottom: 0.5rem;
}

.more-dropdown__help-legal {
  padding-top: 0.5rem;
}
